
extends template
  
block main-content
    h2 About us
    p Welcome to out Ecommerce website.
    p You can shop for a variety of apparels on out website.
    p We ensure fastest delivery of your clothes.
    