

extends template

block main-content
 .container
    h2 Catalogue 
    .catalogue 
          .product 
            img(src="/images/image1.jpg")
            p Tshirt Sample 1
          .product 
            img(src="/images/image2.jpg")
            p Tshirt Sample 2
          .product 
            img(src="/images/image3.jpg")
            p Tshirt Sample 3