extends template

block main-content
    h1 Update the  menu link
    form(method='post',action="/admin/menu/update/submit")
        div
            label(for='name') Link Name:
            input(type="text", name="name", id="name" value=selectedMenu.name)
        div
            label(for='path') Link Path:
            input(type="text", name="path", id="path" value=selectedMenu.path)
        div
            label(for='weight') Weight:
            input(type="number", name="weight", id="weight" value=selectedMenu.weight)
        div
            input(type="hidden", name="weight", id="weight" value=selectedMenu._id)
            button(type='submit') Update Link