extends layout

block main-content
  section.about
    h2 About Us
    p Welcome to our Fake E-commerce Site! We are dedicated to providing the best shopping experience and offering high-quality products at affordable prices.
    p Our team of experts curates a wide range of products to cater to your needs, whether you're looking for electronics, fashion, home decor, or more.
    p Shop with confidence knowing that our customer support team is always ready to assist you with any questions or concerns you may have.
    p Thank you for choosing Fake E-commerce Site. Happy shopping!
