doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} | Test Website
        link(rel="stylesheet", type="text/css",href="/css/style.css")
        block scritps
            scrip(src="/js/script.js")
    body
        header#header
            .header-content
                h2#sitename
                    a(href="/") Fake E-commerce Site
                    nav#nav
                    ul
                        each link in menu
                            li
                                a(href=link.path) #{link.name}
                            
        main#main
            block main-content
        footer#footer
            p &copy; 2023 Fake E-commerce Site. All rights reserved.
            p Privacy Policy | Terms of Service