extends layout 

block main-content
    h1 Add menu link
    form(method="post", action="/admin/menu/add/submit")
        div
            label(for="name") Link Name:
            input(type="text", name="name", id="name")
        div
            label(for="path") Link Path(URL):
            input(type="text", name="path", id="path")
        div
            label(for="weight") Link Weight:
            input(type="number", name="weight", id="weight")
        div
            button(type="submit") Add Link